{% extends 'base.html' %}
{% load static %}

{% block desc %}
سایت فروشگاهی علی ، بهترین سایت خرید محصولات غذایی با کیفیت بالا و قیمت مناسب برای شما مشتریان عزیز ، با هزینه پیک رایگان
{% endblock %}

{% block title %}
صفحه پیدا نشد
{% endblock %}

{% block content %}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-9">
                <div class="row">
                    <h3 style="direction: rtl;" class="title">صفحه مورد نظر پیدا نشد!</h3>
                </div>
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock %}